<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
    "-//mybatis.org//DTD Config 3.0//EN"
    "./mybatis-3-config.dtd">

<!-- 跟标签 -->
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>
<mappers>
    <mapper resource="mappers/ZY00000.xml" />
</mappers>

<!-- ************************************************************************************** -->
<!-- <properties> -->
<!--   <property name="driver" value="oracle.jdbc.driver.OracleDriver"/> -->
<!--   <property name="url" value="jdbc:oracle:thin:@(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.145.200)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = TOKEN)))"/> -->
<!--   <property name="username" value="TOKENCRM4"/> -->
<!--   <property name="password" value="sysg2016"/> -->
<!-- </properties> -->
<!-- <environments default="test"> -->
  <!-- 环境，可以配置多个，default：指定采用哪个环境 -->
<!--   <environment id="test"> -->
<!--     事务管理器，JDBC类型的事务管理器 -->
<!--     <transactionManager type="JDBC" /> -->
<!--     数据源，池类型的数据源 -->
<!--     <dataSource type="POOLED"> -->
<!--       <property name="driver" value="${driver}" /> -->
<!--       <property name="url" value="${url}" /> -->
<!--       <property name="username" value="${username}" /> -->
<!--       <property name="password" value="${password}" /> -->
<!--     </dataSource> -->
<!--   </environment> -->
<!-- </environments> -->
<!-- ************************************************************************************** -->
</configuration>